# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 巨大な依存ライブラリ（保存不要）
node_modules/
dist/
.cache/

# ビルド結果
.wrangler/
package-lock.json

# ローカルの秘密変数（もしあれば）
.dev.vars
.env